<app-main-nav>
    <mat-toolbar class="game_list_header"> User applications &nbsp;&nbsp;</mat-toolbar>
  <div class="mat-elevation-z8">
<lib-listing  class="joqulist"  *ngIf="joquuserlist!=null && joquuserlist.length>0"
                [datasource]="joquuserlist"
                [skip]="joquuserlist_skip"
                [modify_header_array]="joquuserlist_modify_header1"
                [apiurl]="apiservice.domain"
                [jwttoken]="apiservice.jwttoken"
                [statusarr]="joquuserlist_statusarray"
                [editroute]="editroute1"
                [date_search_source]="tablename"
                [date_search_endpoint]="endpoint"
                [search_settings]="joquuserlist_search_settings"
              >
</lib-listing>
  </div>
</app-main-nav>
