
<app-main-nav>

    <mat-card class="game_list_bdy">

        <mat-card-content class="affiliateBanner_wrapper">
            <mat-toolbar class="header_part">
                <h3> Game List </h3>
            </mat-toolbar>
            <br>
            <mat-card-content class="game_cvr_wrpr"> <button mat-stroked-button (click)="getgames(0)" color="warn" class="s_getmyoffer_login_button"  >Past Games</button>
                <button mat-stroked-button  (click)="getgames(1)" class="s_getmyoffer_login_button" color="primary" >Current Games</button></mat-card-content>



            <mat-card-content>
                <input [matDatepicker]="picker" placeholder="Choose a Start date" [(ngModel)]="start_daterange">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-card-content>
            <mat-card-content>
                <input [matDatepicker]="endpicker" placeholder="Choose an End date" [(ngModel)]="end_daterange">
                <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
                <mat-datepicker #endpicker></mat-datepicker>
                <button  mat-flat-button color="primary" (click)="updateRange()" class="s_getmyoffer_login_button"  >Search</button>
            </mat-card-content>


            <mat-card-content class="action_bar">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Search</mat-label>
                    <input type="text" matInput [(ngModel)]="autoval" [matAutocomplete]="auto" >
                </mat-form-field>
                <button  mat-flat-button color="primary" (click)="searchusingautoval(1)" class="s_getmyoffer_login_button"  >Search</button>
                <button mat-flat-button color="warn"  (click)="searchusingautoval(2)" class="s_getmyoffer_login_button"  >Show All</button>
            </mat-card-content>



            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of gamelist" [value]="option.gamename">
                    {{option.gamename}}
                </mat-option>
            </mat-autocomplete>
            <mat-card class="inner_mat" *ngIf="gamelist==null || gamelist.length==0">No records found</mat-card>
            <span class="afbanner_content" *ngIf="gamelist.length>0">
                <mat-card class="inner_mat" *ngFor="let item of gamelist">
                    <mat-card-content class="mat-card-imagecontain">
                        <mat-toolbar>
                            <mat-toolbar-row class="game_name">
                                <span> {{item.gamename}}</span>
                                <span class="gamebar_spacer"></span>
                                <span> {{item.st_dt_req}}</span>
                            </mat-toolbar-row>
                        </mat-toolbar>
                        <mat-card-content class="image_wrpp">
                            <img mat-card-image src="{{apiservice.imagefilepath}}/{{item.images[0]}}">
                            <!--
                    <img mat-card-image src="https://img.game.co.uk/merch2017/Franchise/MF/jangames-MF.jpg">-->
                        </mat-card-content>

                        <mat-toolbar class="footer_section">
                            <mat-toolbar-row>
                                <span class="category1"> {{item.gamedescription}} </span>
                                <span class="category2">
                                    Categories: abcd, test
                                </span>
                            </mat-toolbar-row>
                        </mat-toolbar>
                        <mat-toolbar-row  class="time_and_price">
                            <span class="t-price_container">
                                <span><b>Top Prize: (Up To)</b><i class="material-icons">error</i></span>
                                <span class="price_color">${{item.max_pay_of_amount}}</span>
                            </span>
                            <span class="t-price_container">
                                <span><b>Ticket Prize:</b> <i class="material-icons">error</i></span>
                                <span>$000</span>
                            </span>
                            <span class="t-price_container">
                                <span><b>Start Time</b> <i class="material-icons">error</i></span>
                                <span>{{item.st_tm}}</span>
                            </span>

                        </mat-toolbar-row>

                    </mat-card-content>

                </mat-card>

            </span>
        </mat-card-content>
       <!-- <mat-action-row>
            <span class="bottom_wrapper">
                <span class="more_horizon">
                    <i class="material-icons">
                        more_horiz
                    </i>
                </span>
                <button mat-button>Load More</button>
            </span>
        </mat-action-row>-->
    </mat-card>
</app-main-nav>
