<app-main-nav>

  <mat-tab-group>

    <mat-tab label="Add Game Category">
       <mat-card class="form_wrapper">
        <mat-card-header class="logo_wrapper_login">
          <img src="../../assets/images/joqulogo.png">
        </mat-card-header>
        <div class="example-container add_form" [formGroup]="myForm">
          <mat-form-field>
            <input matInput placeholder="Category Name" [formControl]="myForm.controls['categoryname']" (blur)="clearfun('categoryname')">
            <mat-error  *ngIf="!myForm.controls['categoryname'].valid && myForm.controls['categoryname'].touched">This field can not be blank</mat-error>
          </mat-form-field>

          <button mat-raised-button color="primary" class="form_add_button" (click)="onSubmit()"><i class="material-icons">
            add
          </i> Add  </button>

        </div>
      </mat-card>
    </mat-tab>

    <mat-tab label="Add Game Sub Category">
      <div class="example-container add_form">
      <mat-form-field>
        <mat-label>Category Name</mat-label>
        <select matNativeControl required [(ngModel)]="categorynamefromlist" (change)="categorynameselect()">
          <option value=null disabled>Select one</option>
          <option value={{item._id}} *ngFor="let item of categorylist">{{item.categoryname}}</option>
        </select>
      </mat-form-field>
      </div>
        <br/><br/>

        <mat-card class="form_wrapper" *ngIf="categorynamefromlist!=null">
          <div class="example-container add_form" [formGroup]="myForm">
            <mat-form-field>
              <input matInput placeholder="Sub Category Name" [formControl]="myForm.controls['categoryname']" (blur)="clearfun('categoryname')">
              <mat-error  *ngIf="!myForm.controls['categoryname'].valid && myForm.controls['categoryname'].touched">This field can not be blank</mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" class="form_add_button" (click)="onSubmit()"><i class="material-icons">
              add
            </i> Add  </button>

          </div>
        </mat-card>

    </mat-tab>

  </mat-tab-group>






</app-main-nav>