<app-main-nav>
  <mat-toolbar class="game_list_header" > Games Created &nbsp;&nbsp;</mat-toolbar>
  <div class="mat-elevation-z8">
     <span class="add_button_wrapper">
        <button mat-raised-button [routerLink]="['/addgame']"> Add Game</button>
      </span>
    <lib-listing    *ngIf="gamelist!=null && gamelist.length>0"
                    [datasource]="gamelist"
                    [skip]="gamelist_skip"
                    [modify_header_array]="gamelist_modify_header"
                    [apiurl]="apiservice.domain"
                    [jwttoken]="apiservice.jwttoken"
                    [editroute]="editroute1"
                    [statusarr]="gamelist_statusarray"
                    [sourcedata]="tablename"
                    [deleteendpoint]="delurl"
    >
      <!--[statusarr]="gamelist_statusarray"-->
    </lib-listing>
  </div>
</app-main-nav>