<div class="joqu_login_wrappper">
  <mat-card class="s_getmyoffer">
    <mat-card-content class="s_getmyoffer_login_wrapper">
     <span class="logo_wrapper_login">
      <img mat-card-image src="../../assets/images/joqulogo.png" alt="#"  style="box-shadow: none;">
    </span>
      <mat-card-content *ngIf="show">
      <mat-card-subtitle [formGroup]="myForm">
        <h1>Reset Password</h1>
        <p></p>
        <span class="error" *ngIf="error!=''">{{error}}</span>

        <mat-form-field class="form-group">
          <input matInput placeholder="Password" type="password" [formControl]="myForm.controls['password']" (blur)="clearfun('password')">
          <mat-error  *ngIf="!myForm.controls['password'].valid && myForm.controls['password'].touched">Minimum length for password is 4!</mat-error>
        </mat-form-field>

        <mat-form-field class="form-group">
          <input matInput placeholder="Confirm Password" type="password" [formControl]="myForm.controls['confirmpassword']" (blur)="clearfun('confirmpassword')">
          <mat-error *ngIf="!myForm.controls['confirmpassword'].valid && myForm.controls['confirmpassword'].touched">Password does not match </mat-error>
        </mat-form-field>

        <mat-card-content >
          <button mat-button (click)="onSubmit()" class="s_getmyoffer_login_button"  >Reset Password</button>
        </mat-card-content>

      </mat-card-subtitle>
      </mat-card-content>
    </mat-card-content>
  </mat-card>
</div>
