body{ margin: 0; padding: 0;  }

@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold.ttf') format('truetype'),
    url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts/Roboto-Medium.eot');
    src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/Roboto-Medium.woff') format('woff'),
    url('../fonts/Roboto-Medium.ttf') format('truetype'),
    url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype'),
    url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans.eot');
    src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans.woff2') format('woff2'),
    url('../fonts/OpenSans.woff') format('woff'),
    url('../fonts/OpenSans.ttf') format('truetype'),
    url('../fonts/OpenSans.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff'),
    url('../fonts/OpenSans-Bold.ttf') format('truetype'),
    url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('../fonts/OpenSans-Semibold.woff2') format('woff2'),
    url('../fonts/OpenSans-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSans.woff2') format('woff2'),
    url('../fonts/OpenSans.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
url('../fonts/Noteworthy-Bold.woff.woff2') format('woff2'),
url('../fonts/Noteworthy-Bold.woff.woff') format('woff'),
font-family: 'Noteworthy';
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ralewaybold';
    src: url('../fonts/Raleway-Bold.woff2') format('woff2'),
    url('../fonts/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/CenturyGothic.woff2') format('woff2'),
    url('../fonts/CenturyGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothicBold';
    src: url('../fonts/CenturyGothic-Bold.eot');
    src: url('../fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CenturyGothic-Bold.woff2') format('woff2'),
    url('../fonts/CenturyGothic-Bold.woff') format('woff'),
    url('../fonts/CenturyGothic-Bold.ttf') format('truetype'),
    url('../fonts/CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('../fonts/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
    url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pacifico';
    src: url('../fonts/Pacifico.woff2') format('woff2'),
    url('../fonts/Pacifico.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*---Loader css ---*/



.loader{border:16px solid #080009;border-top:16px solid #4a86e8;border-radius:50%;width:120px;height:120px;animation:spin 2s linear infinite;margin:0 auto;}
@keyframes spin{0%{transform:rotate(0deg);}100%{transform:rotate(360deg);}}

.innerloder{ width:120px; margin:0 auto; }


.s_getmyoffer {
    background:none!important; border-radius: 0px!important;  margin: 0!important; padding: 0!important;
}

.s_getmyoffer .s_shatter_logo {
    width: 500px;
    margin: 30px auto; max-width: 90%; display: block; margin-top: 100px!important;
}

.s_getmyoffer_login_wrapper {
    width: 420px!important;
    padding: 26px 50px!important;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
    border: 10px solid rgba(222, 221, 221, 0.2);
    box-shadow: 2px 4px 37px rgb(176, 179, 183);
}


.s_getmyoffer_login_wrapper h1 { margin: 0; padding: 0;
    width: 100%;
    font-family: 'RobotoBold';
    text-align: center;
    background: #000000;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-image: linear-gradient(to top left, #ff0000 0%, #4a86e8 30%, #3c6cbb 100%);
    border-bottom: 4px solid transparent;
    border-image-slice: 1;
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 44px;
    padding-bottom: 10px;
    margin-top: 30px;
}

.s_getmyoffer_login_wrapper h2 { margin: 0; padding: 0;
    width: 100%;
    font-family: 'RobotoBold';
    text-align: center;
    background: #a4a4a4;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-image: linear-gradient(to top left, #13141b 0%, #1d1e24 30%, #000000 100%);
    border-bottom: 4px solid transparent;
    border-image-slice: 1;
    padding-bottom: 20px;
    font-size: 40px;
}


.s_getmyoffer_login_wrapper p {
    text-align: center;
    margin: 15px 0;
    font-size: 25px;
    color: #4a86e8;
    font-family: 'RobotoBold';
    text-transform: capitalize;
}

.s_getmyoffer_login_wrapper .form-group{ display: block; width: 100%; margin-bottom: 15px; }

.s_getmyoffer_login_wrapper .form-group label{color: #b1aeae;   font-family: 'RobotoMedium'; font-size: 16px; }
.s_getmyoffer_login_wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {

    border-bottom: solid 1px #fff;
}

.s_getmyoffer_login_wrapper  .error{ display: block; text-align: center;}

.s_getmyoffer_login_wrapper  .ng-star-inserted{ color: #ff0000;}
.s_getmyoffer_login_wrapper .form-group input.mat-input-element {
    margin-top: 0.9375em; color: #000!important;
}

.s_getmyoffer_login_wrapper .form-group-forgetPass{ display: block; width: 100%; margin: 0px; margin-top: 15px; text-align: right;}
.s_getmyoffer_login_wrapper .form-group-forgetPass .mat-button{ background: none!important; margin: 0!important; padding: 4px!important; line-height: inherit!important; width: auto!important; height: auto!important; color: #080808!important;
    font-size: 15px!important;  text-transform: capitalize!important;  font-family: 'RobotoMedium'!important;}

.s_getmyoffer_login_wrapper .s_getmyoffer_login_button {
    /*background: rgba(247,231,0,1);*/
    /*background: -moz-linear-gradient(top, rgba(247,231,0,1) 0%, rgba(219,205,15,1) 100%);*/
    /*background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247,231,0,1)), color-stop(100%, rgba(219,205,15,1)));*/
    /*background: -webkit-linear-gradient(top, rgba(247,231,0,1) 0%, rgba(219,205,15,1) 100%);*/
    /*background: -o-linear-gradient(top, rgba(247,231,0,1) 0%, rgba(219,205,15,1) 100%);*/
    /*background: -ms-linear-gradient(top, rgba(247,231,0,1) 0%, rgba(219,205,15,1) 100%);*/
    /*background: linear-gradient(to bottom, rgba(247,231,0,1) 0%, rgba(219,205,15,1) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7e700', endColorstr='#dbcd0f', GradientType=0 );*/

    background: #000000;
    color: #ffffff!important;
    border: 0!important;
    text-transform: uppercase;
    font-family: 'RobotoBold';
    border-radius: 5px;
    font-size: 24px!important;
    padding: 10px;
    display: block!important;
    width: 100%!important;
    margin-top: 40px!important;
}


/*left pannel*/


.left_nav .mat-list-item-content{ color: #fff; cursor: pointer; }
.left_nav a:hover{ background: #000; }

/*.mat-drawer-container{height: 100vh;}*/
table.mat-table{
    margin: 0 auto!important;
}
.mat-table { width: 99%;
    border: 1px solid #e4cde8!important;
    border-bottom: none;}
.filter_input{ width:100%!important;}
.btn_wrapper  .mat-figure{ justify-content: flex-end!important;}

.mat-header-cell {
    font-size: 14px!important;
    color: #272727!important;
}
.mat-row:nth-of-type(even){
    background: #f2f1f3;
}
tr.mat-header-row {
    height: 56px;
    background: gainsboro;
}
td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type{ padding-right: 10px; }
td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type{ width: 10%;}
.action_button_wrap{ display: flex; justify-content: space-around;}
.add_button{ float: right; margin-right: 17px!important; text-transform: uppercase; width: 150px;
    /*background: #7028a5!important;*/
    background: #07152b!important;
    color: rgb(255, 255, 255)!important;
}
/*.mat-form-field{display: block!important;}*/

.adminform{ width: 45vw; margin: 40px auto; }
.adminform .mat-form-field,
.adminmodalform .mat-form-field{display: block!important;}
.btn_wrapper .mat-figure .mat-raised-button{ margin-right: 17px!important; }
.mat-dialog-container{ padding: 0!important;}
.gridview_list{ height: 100%; width: 99%;}
.gridview_list .mat-grid-tile .mat-figure{ flex-direction: column!important; align-items: flex-start;
    padding: 10px; overflow: auto;
    height:100%;}
.gridview_list .mat-grid-tile { background: #ebe9ec; }
.gridview_list .mat-grid-tile .mat-figure h5{margin: 10px 0;}

.adminmodalform{ width: 35vw; margin: 0 auto; }

/*HEADER*/
.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}
.mat-toolbar-row, .mat-toolbar-single-row {
    height: auto;
    padding: 0!important;
}
.mat-toolbar .mat-toolbar-row .logo_wrapper{ width: 205px; }
.mat-toolbar .mat-toolbar-row .logo_wrapper img{ width: 100%; height: auto; }
.main-color{
    background-color: #000!important; color: #fff!important;
}
.mat-toolbar .mat-toolbar-row .mat-button{ color:#fff; }
.mat-toolbar .mat-toolbar-row .profile_wrap{     width: 40px;
    height: 40px;
    background: #fff;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #f7f7f7;
}
.mat-toolbar .mat-toolbar-row .profile_wrap img{width: 100%;
    object-fit: cover;
    object-position: center center;
    min-height: 100%;
    max-height: 100%;
}


/*joqu login wrapper*/
.joqu_login_wrappper{
    position: relative;
    height: 100vh;
    background: #f2f8ff;
}
.joqu_login_wrappper .mat-card {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    position: relative;
    padding: 16px;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo_wrapper_login {
    width: auto;
    height: auto;
    display: block!important;
    text-align: center;
}
.logo_wrapper_login img{
    height: 140px;
    width: auto;
}
.main_side_nav .mat-drawer-inner-container{
    background: #07152b;
}
.main_side_nav .nav-image:focus{ outline: none; }
.main_side_nav .nav-image{
    width: 100%;
    text-align: center;
    display: block;
    border-bottom: 2px solid #5d636d;
    background: #000000;
    padding-top: 10px;
    cursor: pointer;
}
.main_side_nav .nav-image img{
    width: auto;
    height: 73px;
}
.main_side_nav .mat-toolbar-row, .mat-toolbar-single-row{ height: auto!important; min-height: 93px; background: #07152b!important; }
.main_side_nav .mat-nav-list .mat-list-item:hover{background: #fff; color: #000; }
.main_side_nav .mat-nav-list .mat-list-item{
    color: #fff;
    border-bottom: 1px solid #a2a2a2;
}
.actions{
    display: flex;
    justify-content: space-around;
    width:100%;
}
.actions button { padding: 0 8px!important; min-width: inherit!important;}
.actions button:nth-child(1){ color: #008000 !important }
.actions button:nth-child(2){ color: #dc1c1c!important }
.actions button:nth-child(3){ color: #4a86e8 !important }

.mat-raised-button{margin: 3px!important;}
td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type{padding-right: 5px!important;}
.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.mobile-label {
    display: none;
}
.searchbar .mat-form-field-wrapper{
    padding-bottom: 0;
}
.searchbar .mat-form-field {
    width: 100%;
    padding-left: 5px;
}
.add_button_wrapper{
    width: 200px;
    margin-left: auto!important;
    display: flex;
    margin-right: 5px!important;
}
.add_button_wrapper button{ width: 100%; background: #07152b!important; color: #fff!important; height: 50px; text-transform: uppercase; font-size: 24px; }
/*add form*/
.form_wrapper{
    width: 700px;
    margin: 40px auto;
    border: 4px solid #050e1d;
    padding: 30px 20px!important;
    overflow: -webkit-paged-x;
}
.add_form {
    display: flex;
    flex-direction: column;
}

.add_form > * {
    width: 100%;
}

.form_wrapper .form_add_button {
    background: #050e1d !important;
    width: 200px;
    color: #fff;
    margin: 20px auto !important;
    padding: 5px 0;
    font-size: 24px;
}
.form_wrapper .form_add_button i{font-size: 32px!important;}

/*GAME LIST*/
.game_list_header {background: #ebebeb !important; padding: 10px!important; border-bottom: 1px solid #4a86e8;}


.ngx-material-timepicker-face .clock-face__number--outer[_ngcontent-mca-c18] {
    width: calc(180px / 2 - 20px)!important;
    height: calc(180px / 2 - 20px)!important;
}
.ngx-material-timepicker-face.clock-face[_ngcontent-nnq-c18] {
    width: 180px!important;
    height: 180px!important;
}

/*AFFLIATE Game SECTION*/
.game_list_bdy{
    background: #f7f6f6!important;
}
.affiliateBanner_wrapper .afbanner_content{ display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -5px;
}

.afbanner_content .game_name{ padding: 0 10px!important;}
.affiliateBanner_wrapper .afbanner_content .mat-card .mat-card-image:nth-child(1){margin: 0!important;}
.affiliateBanner_wrapper .afbanner_content .mat-card{
    width: 32%;
    padding: 0!important;
    margin-bottom: 1%!important;
    /*margin-right: 1%!important;*/
    border: 1px solid #d9d9d9;
    border-bottom: 0;
    overflow: hidden;
    margin: 7px;
}

.affiliateBanner_wrapper .afbanner_content  .inner_mat .mat-toolbar-row{
    background: #fff!important;
    min-height: inherit!important;
}
.gamebar_spacer{ flex: 1 1 auto; }

.image_wrpp{
    width: 100%;
    height: 260px;
}
.image_wrpp img{ object-fit: contain; height: 100%; width: 100%; }

.affiliateBanner_wrapper .header_part{ background: red!important; padding: 0 10px!important;}
.affiliateBanner_wrapper .header_part h3{ color: #fff; font-size: 30px;}
.affiliateBanner_wrapper .mat-card-actions, .mat-card-content, .mat-card-subtitle{ margin-bottom: 0!important;}
.affiliateBanner_wrapper .mat-card .footer_section .mat-toolbar-row {
    height: auto!important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.affiliateBanner_wrapper .game_cvr_wrpr button{ margin-left: 10px;}
.affiliateBanner_wrapper .game_cvr_wrpr{
    background: #efefef;
    margin-bottom: 15px!important;
    padding: 10px 0;
}
.affiliateBanner_wrapper .time_and_price{
    display: flex;
    width: 100%;
}
.affiliateBanner_wrapper .time_and_price .t-price_container:last-child{ border: 1px solid #d9d9d9; }
.affiliateBanner_wrapper  .time_and_price .t-price_container{ width: 100%;
    border: 1px solid #d9d9d9;
    border-right: 0;
    padding: 10px;
    padding-bottom: 10px!important;
}
.affiliateBanner_wrapper  .time_and_price .t-price_container span{ display: flex; width: 100%; align-items: center; font-family: 'OpenSansSemiBold'; }
.affiliateBanner_wrapper  .time_and_price .t-price_container span i{ transform: rotate(-180deg); padding-right: 10px; color: #2196f3; }
.affiliateBanner_wrapper .time_and_price span .price_color{ color: #ffa500;}

.affiliateBanner_wrapper .category1{ padding: 8px 10px; font-size: 18px; font-family: 'OpenSansSemiBold'; color: #2a2929;  }
.affiliateBanner_wrapper .category2{
    border-top: 1px solid #d9d9d9;
    display: block;
    width: 100%;
    padding: 5px;
    font-family: 'OpenSansRegular';
    font-size: 14px;
}
.bottom_wrapper { margin: 0 auto; text-align: center; display: flex; width: 198px;
    justify-content: space-between;}
.bottom_wrapper .more_horizon i{padding: 8px; color: #1da1f2;}
.bottom_wrapper .more_horizon{
    width: 40px;
    height: 40px; border: 3px solid #1da1f2;
    border-radius: 50%;
}
.bottom_wrapper button{ background: #1da1f2; color: #fff; border-radius: 40px; font-size: 26px; font-family: 'pacifico'; }


.affiliateBanner_wrapper .ngx-mat-drp-date-input[_ngcontent-ngo-c7] {
    /* text-overflow: ellipsis; */
    color: #4169e1;
    padding: 10px 0!important;
    width: 100%;
}
.ngx-mat-drp-presets-list[_ngcontent-enf-c18] li[_ngcontent-enf-c18] {
    margin: 5px 0;
    padding: 4%;
    cursor: pointer;
    background: #3b6bba!important;
    color: #ffffff!important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ngx-material-timepicker-toggle  svg { width: 17px!important;}
.timepicker__header[_ngcontent-hgk-c9] {
    background: #050f1e!important;
}
.affiliateBanner_wrapper .action_bar button{ width: 160px; font-size: 20px!important; margin-left: 10px;}
.affiliateBanner_wrapper .action_bar{
    display: flex;
    background: #efefef;
    margin-bottom: 10px!important;
    justify-content: space-between;
}
.affiliateBanner_wrapper .example-full-width{ padding: 0px!important; width: 100%; }
.affiliateBanner_wrapper .example-full-width .mat-form-field-wrapper{ padding: 0px!important; }
.afbanner_content .game_name span{ font-size: 18px; font-family: 'OpenSansSemiBold'; color: #1a1919; }


.form_wrapper .ngx-material-timepicker-toggle{ float: right!important;}

.form_wrapper .uploadfile {
    background: #fe0000 !important;
    border: none;
    padding: 5px 20px 7px;
    color: #fff;
    font-size: 16px;
    font-family: 'OpenSansSemiBold';
    margin: 15px 0;
    text-transform: capitalize;
    margin-bottom: 20px;
    border-radius: 4px;
}

.Sub_cat{
    width: 760px; margin: 0 auto; margin-top: 50px;
}
.calendar_wrapper .mat-form-field {
    margin-right: 12px;
}
.search_wrapper{ display: flex!important; margin-bottom: 15px!important;}
.search_wrapper button{ margin-left: 15px; width: 160px; }
.search_wrapper .example-full-width .mat-form-field-wrapper {
    padding: 0px!important;
    margin: 0;
}
/*navbar image section*/
.nav-image2{ width: 100px; display: none; }
/*.nav-image2 .mat-card-image:first-child { margin-top: 0!important; }*/
/*.nav-image2 .mat-card-image{ margin: 0!important;}*/
/*.nav-image2 img{ width: 100%; vertical-align: middle; }*/

/*navbar image end section*/


/*JoquList */
.joqulist .searchbar { background: none!important;}
.joqulist .searchbar .mat-form-field {  width: auto!important; }
.joqulist .searchbar { justify-content: flex-start!important; flex-wrap: wrap; margin: 15px 0;}

/*game List*/
.gamelist_wrapper .searchbar { background: none!important;}
.gamelist_wrapper .searchbar .mat-form-field {  width: auto!important; }
.gamelist_wrapper .searchbar { justify-content: flex-start!important; flex-wrap: wrap; margin: 15px 0;}
.gamelist_wrapper table{ margin-top: 15px!important;}

/*game_categorylist*/
.game_categorylist .searchbar,
.admindashboard_shout .searchbar,
.gemes_categorylist .searchbar,
.admindashboard_games_created .searchbar{ background: none!important; justify-content: flex-start!important; flex-wrap: wrap; margin: 15px 0;}

.game_categorylist .searchbar .mat-form-field,
.admindashboard_shout .searchbar .mat-form-field,
.gemes_categorylist .searchbar .mat-form-field,
.admindashboard_games_created .searchbar .mat-form-field{  width: auto!important; }

/*.affiliateBanner_wrapper .afbanner_content .mat-card:nth-child(4n-1){ margin-right: 0!important;}*/


/*confirm modal*/
.custom-modalbox .mat-dialog-container{
    background: #050e1d;
    color: #fff;
    padding: 50px!important;
    border: 2px solid #4a86e8;
    text-align: center;
}
.custom-modalbox .mat-dialog-actions{ margin-bottom: 0!important; justify-content: center;}
.custom-modalbox button:first-child{ background: #4a86e8; }
.custom-modalbox button:last-child{ background: #ff0000; }
.custom-modalbox .mat-dialog-title { font-size: 24px; font-family: 'RobotoBold'; }
.custom-modalbox p { font-size: 18px; font-family: 'RobotoMedium'; }

.mat-bottom-sheet-container-large {
    background: #050e1d!important;
    border: 2px solid #3c76d2;
}
.mat-list-base .mat-list-item .mat-line:nth-child(n+2) {
    color: #fff;
    background: #4a86e8;
    padding: 10px;
}
.admindashboard_shout table,
.admindashboard_games_created table,
.gemes_categorylist table{ margin-top: 15px!important;}




@media screen and (max-width: 960px) {
    .mat-header-cell {
        display: none!important;
    }
    .mat-cell{
        padding:0.5em 1em!important;
    }
    .mat-table {
        border: 0;
        vertical-align: middle
    }

    .mat-table caption {
        font-size: 1em;
    }

    /*  Enable this to hide header
    .mat-table .mat-header-cell {

      border: 10px solid;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    */
    .mat-table .mat-row {
        border-bottom: 10px solid #ddd;
        display: block;
        height: auto;
    }
    /*
    .mat-table .mat-row:nth-child(even) {background: #CCC}
    .mat-table .mat-row:nth-child(odd) {background: #FFF}
    */
    /*.mat-table .mat-cell {*/
    /*border-bottom: 1px solid #ddd;*/
    /*display: block;*/
    /*font-size: 1em;*/
    /*text-align: right;*/
    /*height:30px;*/
    /*margin-bottom: 0%;*/
    /*}*/

    .mat-table .mat-cell {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 1em;
        text-align: right;
        height: auto;
        margin-bottom: 0%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        word-break: break-all;
        padding-left: 25%!important;
    }
    .mat-table .mat-cell:before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: 500;
        font-size: .85em;
        position: absolute ;
        left: 20px;
    }
    .mat-table .mat-cell:after {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(title);
        float: left;
        text-transform: uppercase;
        font-weight: 500;
        font-size: .85em;
        position: absolute ;
        left: 20px;
    }
    .mat-table .mat-cell:last-child {
        border-bottom: 0;
    }
    .mat-table .mat-cell:first-child {
        margin-top: 0%;
    }
    .mat-footer-row, .mat-header-row, .mat-row {
        display: flex;
        border-width: 0;
        border-bottom-width: 1px;
        border-style: solid;
        align-items: center;
        box-sizing: border-box;
        display: none;
    }
    td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
        width: auto;
    }
}
.cursor{ cursor: pointer;}
.cursor:nth-of-type(1){ color: #4a86e8;}
.cursor:nth-of-type(2){ color: #ff0000;}
.cursor:nth-of-type(3){ color: #3b6bba;}
.cursor:nth-of-type(4){ color: #07152b;}


@media screen and (max-width: 768px){
    .toolbar_header button{ display: block!important;}
}

input.mat-input-element {
    margin-top: -.0625em;
    display: inline-block;
    width: auto;
}

.gamebtnselected{
    background-color: #d4d2c8!important;
}
.uploadthumimgbox_span{ width: 100%; display: block; margin: 20px auto; border: 1px solid #d0d0d0; }
.uploadthumimgbox_span img{ width: 100%; height: auto; vertical-align: middle; }
.closepic{ background: #ff0000!important; margin: 15px!important;}

.tree_function { width: 360px; margin: 30px auto;  }
 mat-tree-node { width: auto;  }
.tree_function mat-tree-node{    color: #0a0101!important;
    background: #d4d3d3 !important;
    border-bottom: 1px solid #969292;
}
.tree_function .treeblock{color: #07152b!important; background: #eae9e9!important; border-bottom: 1px solid #cecaca;}

.tree_function .action_button{
    background-color: #4886e5!important;
    margin-left: auto!important;
    margin-right: 8px!important;
}
.mat_tab_group .mat-tab{ width: 50%!important;}
