<app-main-nav>


  <mat-tab-group class="mat_tab_group" mat-align-tabs="center"  dynamicHeight>
    <mat-tab label="Catergory View ">
      <div>
        <!--    {{item}}{{dataSource}}-->
        <mat-tree  [dataSource]="dataSource" [treeControl]="treeControl" class="tree_function">
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding >
            <button mat-icon-button disabled></button>
            {{node.item.item}} ({{node.item.children}})
          </mat-tree-node>

          <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding  [ngClass]="{'nested_tree_abcd': true, 'mat-tree-node': true, 'treeblock': node.item.level%2==0?true:false}"   >
            <button *ngIf="node.item.children>0 || node.item.totalcat>0" mat-icon-button
                    [attr.aria-label]="'toggle ' + node.filename" matTreeNodeToggle>
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>


            {{node.item.categoryname}}({{node.item.totalcat}})
            <button mat-flat-button color="primary" class="action_button" (click)="onSubmit(node)">View Games</button>
            <mat-progress-bar *ngIf="node.isLoading"
                              mode="indeterminate"
                              class="example-tree-progress-bar"></mat-progress-bar>
          </mat-tree-node>
        </mat-tree>
      </div>
    </mat-tab>
    <mat-tab label="Game View">

    Game view content here...

      <button mat-raised-button color="secondary">Game View</button>
    </mat-tab>

  </mat-tab-group>










</app-main-nav>
