<app-main-nav>

  <mat-toolbar class="game_list_header"> Applied for shout &nbsp;&nbsp;</mat-toolbar>
  <div class="mat-elevation-z8">
    <lib-listing    *ngIf="joqu_userlist_view!=null && joqu_userlist_view.length>0"
                    [datasource]="joqu_userlist_view"
                    [skip]="joqu_userlist_view_skip"
                    [modify_header_array]="joqu_userlist_view_modify_header"
                    [apiurl]="apiservice.domain"
                    [jwttoken]="apiservice.jwttoken"
                    [statusarr]="joqu_userlist_view_statusarray"
                    [editroute]="joqu_userlist_view_editroute1"
    >
    </lib-listing>
  </div>


  <mat-toolbar class="game_list_header" > Games Created &nbsp;&nbsp;</mat-toolbar>
  <div class="mat-elevation-z8">
    <lib-listing    *ngIf="game_view!=null && game_view.length>0"
                    [datasource]="game_view"
                    [skip]="game_view_skip"
                    [modify_header_array]="game_view_modify_header"
                    [apiurl]="apiservice.domain"
                    [jwttoken]="apiservice.jwttoken"
                    [editroute]="game_view_editroute1"
    >
    </lib-listing>
  </div>


</app-main-nav>
