<app-main-nav>

  <mat-toolbar class="game_list_header"> User applications &nbsp;&nbsp;</mat-toolbar>
  <div class="mat-elevation-z8">
    <lib-listing class="admindashboard_shout"   *ngIf="joqu_userlist_view!=null && joqu_userlist_view.length>0"
                    [datasource]="joqu_userlist_view"
                    [skip]="joqu_userlist_view_skip"
                    [modify_header_array]="joqu_userlist_view_modify_header"
                    [apiurl]="apiservice.domain"
                    [jwttoken]="apiservice.jwttoken"
                    [statusarr]="joqu_userlist_view_statusarray"
                    [editroute]="joqu_userlist_view_editroute1"
                    [date_search_source]="joqu_userlist_tablename"
                    [date_search_endpoint]="endpoint"
                    [search_settings]="joqu_userlist_search_settings"
    >
    </lib-listing>
  </div>


  <mat-toolbar class="game_list_header" > Games Created &nbsp;&nbsp;</mat-toolbar>
  <div class="mat-elevation-z8">
    <lib-listing class="admindashboard_games_created"   *ngIf="game_view!=null && game_view.length>0"
                    [datasource]="game_view"
                    [skip]="game_view_skip"
                    [modify_header_array]="game_view_modify_header"
                    [apiurl]="apiservice.domain"
                    [jwttoken]="apiservice.jwttoken"
                    [editroute]="game_view_editroute1"
                    [sourcedata]="game_view_tablename"
                    [deleteendpoint]="delurl"
                    [statusarr]="game_view_statusarray"
                    [date_search_source]="game_view_search_tablename"
                    [date_search_endpoint]="endpoint"
                    [search_settings]="game_view_search_settings"
                    [click_to_add_ananother_page]="game_view_click_to_add_ananother_page"
    >
    </lib-listing>
  </div>

  <mat-toolbar class="game_list_header" > Game Category List &nbsp;&nbsp;</mat-toolbar>
  <div class="mat-elevation-z8">
    <lib-listing class="gemes_categorylist" *ngIf="gamecat_view!=null && gamecat_view.length>0"
                    [datasource]="gamecat_view"
                    [skip]="gamecat_view_skip"
                    [modify_header_array]="gamecat_view_modify_header"
                    [apiurl]="apiservice.domain"
                    [jwttoken]="apiservice.jwttoken"
                    [editroute]="gamecat_view_editroute1"
                    [sourcedata]="gamecat_view_tablename"
                    [deleteendpoint]="delurl"
                    [statusarr]="gamecat_view_statusarray"
                    [date_search_source]="gamecat_view_search_tablename"
                    [date_search_endpoint]="endpoint"
                    [click_to_add_ananother_page]="gamecat_view_click_to_add_ananother_page"
                    [search_settings]="gamecat_view_search_settings"


    >
    </lib-listing>

  </div>

</app-main-nav>
