<app-main-nav>
  <mat-toolbar class="game_list_header" > Game Categories Created &nbsp;&nbsp;</mat-toolbar>
  <div class="mat-elevation-z8">
       <span class="add_button_wrapper">
        <!--<button mat-raised-button [routerLink]="['/gamecategoryadd']"> Add Game Category</button>-->
      </span>
    <lib-listing class="game_categorylist" *ngIf="gamecatlist!=null && gamecatlist.length>0"
                    [datasource]="gamecatlist"
                    [skip]="gamecatlist_skip"
                    [modify_header_array]="gamecatlist_modify_header"
                    [apiurl]="apiservice.domain"
                    [jwttoken]="apiservice.jwttoken"
                    [sourcedata]="tablename"
                    [deleteendpoint]="delurl"
                    [editroute]="editroute1"
                    [statusarr]="gamecatlist_statusarray"
                    [date_search_source]="tablename"
                    [date_search_endpoint]="endpoint"
                    [search_settings]="gamecatlist_search_settings"
                    [click_to_add_ananother_page]="click_to_add_ananother_page"
    >
    </lib-listing>
  </div>
</app-main-nav>